.header {
    background-color: #66ccff; 
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 15px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 20px;
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-weight: bold;
    margin-right: auto;
}

.button-group {
    display: flex;
    gap: 8px;
    align-items: center;
}

/* Базовий стиль для всіх кнопок */
.button-base {
    padding: 6px 16px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    transition: background-color 0.2s;
    border: 1px solid transparent; /* Додаємо для узгодженості */
}

/* Стиль для кнопки "Вийти" */
.button-logout {
    background-color: #d32f2f; /* Червоний */
    color: white;
    border-color: #d32f2f;
}

.button-login {
    background-color: #1976D2;
    color: white;
}

.button-register {
    background-color: #9c27b0; 
    color: white;
}